.header__lang-link {
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    color: #fff;
    position: relative;
}

.header__lang-link:hover {
    opacity: .8;
}

@media screen and (max-width: 540px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}