.place-website__link {
    font-family: 'inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
}

.place-website__link:hover {
    opacity: .8;
    transition: 1s linear;
}