.intro__list {
    position: relative;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 33px 0 0 0;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        padding: 33px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .intro__list {
        padding: 33px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        padding: 34px 0 0 0;
    }
}