.lead {
    position: relative;
    margin: 0 auto;
    padding: 56px 148px 0 148px;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding: 48px 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 48px 0 0 0;
    }
    
}