.cover__subtitle {
    margin: 32px auto 0;
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

@media screen and (max-width: 540px) {
    .cover__subtitle {
        margin: 16px auto 33px;
        font-size: 14px;
        line-height: 16px;
        padding: 0 16px;
    }
}