.place__website__link {
    max-width: 456px;
    font-family: 'inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
}

.place__website__link:hover {
    opacity: .8;
    transition: 1s linear;
}

@media screen and (max-width: 768px) {
    .place__website__link {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website__link {
        max-width: 288px;
    }
}