.place__paragraph {
    margin: 26px 0 0 0;
    font-family: 'inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    grid-area: paragraph;
}

.place__paragraph:first-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 540px) {
    .place__paragraph {
        margin: 25px 0 0 0;
    }
    .place__paragraph:first-child {
        margin: 0;
    }
}