.intro {
    position: relative;
    max-width: 690px;
    margin: 0 auto;
    padding: 92px 442px 0 148px;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 286px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 540px) {
    .intro {
        padding: 64px 16px 0 16px;
    }
}