.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    padding: 32px 172px 0 172px;
    font-family: 'inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        padding: 32px 144px 0 144px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        padding: 32px 64px 0 64px;
    }
}

@media screen and (max-width: 540px) {
    .lead__subtitle {
        padding: 16px 14px 0 18px;
        font-size: 16px;
        line-height: 20px;
    }
}