.cover {
    position: relative;
    max-width: 1184px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 92px auto 0;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
    }
}