.cover {
    position: relative;
    max-width: 1184px;
    width: 100%;
    margin: 0;
    padding: 92px 48px 0 48px;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 92px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 90px 0 0 0;
    }
}

@media screen and (max-width: 540px) {
    .cover {
        padding: 66px 0 0 0;
    }
}