.cover__title {
    margin: 0 auto;
    max-width: 560px;
    max-height: 152px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        max-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}