.place {
    position: relative;
    list-style: none;
    margin-top: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 48px 40px;
    grid-template-areas:"title website"
                        "image paragraph";
}

.place:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 73px;
        grid-gap: 48px 28px;
    }
}

@media screen and (max-width: 540px) {
    .place {
        margin-top: 50px;
        display: grid;
        /* grid-template-columns: minmax(1fr, min-content); */
        grid-template-columns: 1fr;
        grid-gap: 32px;
        grid-template-areas:"title"
                            "website"
                            "image"
                            "paragraph";
    }
}