.place {
    position: relative;
    max-width: 984px;
    width: 100%;
    list-style: none;
    margin-top: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 48px 40px;
    grid-template-areas:"title website"
                        "image paragraph";
    font-family: 'Inter', Arial, sans-serif;
}

.place:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 73px;
        grid-gap: 48px 28px;
    }
}

@media screen and (max-width: 650px) {
    .place {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        grid-template-areas:"title"
                            "website"
                            "image"
                            "paragraph";
    }
}